input{

    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #5f9341;
    margin-bottom: 4px;
}

button{

    background-color: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 2px solid #5f9341;

}


#del_btn{
    
    background-color: white;
    color: #5f9341;


}